{% extends "layout.html" %}

{% block title %}
iNat2Wiki
{% endblock %}

{% block main %}

<div class="container">
  <h3>About</h3>
  <p>iNat2Wiki is a Flask App developed by Tiago Lubiana (<a href="https://github.com/lubianat target="
      _blank">@lubianat</a>) inspired by the <a href="https://www.wikidata.org/wiki/Wikidata:WikiProject_Biodiversity"
      target="_blank"> WikiProject Biodiversity. </a> </p>

  <p> Code fully open source and open to contributions at the <a href="https://github.com/lubianat/inat2wiki"> iNat2Wiki
      GitHub
      repository</a>.
  </p>
  <p>Special thanks to Andra Waagmeester and Dario Taraborelli for the
    guidance in the Open Biodiversity Knowledge / iNaturalist / eBird / Wiki / digital naturalism world.</p>

  <p>See also Andra's <a href="https://github.com/wikiproject-biodiversity?"
      target="_blank">https://github.com/wikiproject-biodiversity </a> for more cool stuff like this </p>

  <h4>Contributors</h4>
  <ul>
    <li>Your name will go here! :)</li>
  </ul>
</div>
{% endblock %}