{% extends "layout.html" %}

{% block title %}
iNat2Wiki
{% endblock %}

{% block main %}

<div class="container">
  <p>iNat2wiki is an interface between Wikidata, Wikimedia Commons, Wikipedia, and iNaturalist.</p>
  <p>It has 3 core functions:</p>
  <ul>
    <li>Ordering the contributions by rarity and checking their coverage on Wikipedia and sister projects via "<a
        href="./userlist">User list</a>"" for users or "<a href="./projectlist">Project list</a>"" for iNaturalist
      projects</li>
    <li>Adding pictures of particular observations to commons via "<a href="./parse">Parse observation</a>"</li>
    <li>Creating Wikipedia stubs (only available for the <a href="./ptwikistub"> Wikipedia in Portuguese</a> so far)
    </li>
  </ul>

  <p> It is run and maintained in the context of WikiProject Biodiversity (see the <a href="./about">about section</a>
    for details)</p>

</div>
{% endblock %}