{% extends "layout.html" %}

{% block title %}
User observations
{% endblock %}

{% block main %}

{% if not observation_data %}
<h4>Enter the observation id:</h4>
<form method="POST">
  <input name="obs_id">
  <input type="submit">
</form>
<a href="/parse/144917694">See an example</a>
{% endif %}
{% if observation_data %}
<div class="col-md container">
  <h3>Observation {{observation_data.id}} ({{observation_data.taxon.name}})</h3>
  <ul>
    <li> Wikidata page: <a href="https://www.wikidata.org/entity/{{qid}}" target="_blank">{{qid}}</a></li>
    <li> Observation on inaturalist: <a href="https://inaturalist.org/observations/{{observation_data.id}}"
        target="_blank">{{observation_data.id}}</a>
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>License</th>
        <th>Link to Commons</th>
      </tr>
    </thead>
    <tbody>
      {% for photo_data in observation_data.photos %}
      <tr>
        <td><img src="{{photo_data.url}}" width="300"> </img> </td>
        <td> License: {{photo_data.license_code}}</td>
        <td>
          <!-- if license is not supported, don't render button-->
          {% if photo_data.license_code in ['cc-by', 'cc-by-sa', 'cc0'] %}
          <a href="{{photo_data.upload_url}}" target="blank" class=" btn btn-outline-primary" role="button">Upload
            to
            Commons</a></td>
        {% else %}
        <p>License not supported</p>
        {% endif %}


      </tr>
      {% endfor %}
      </ul>
    </tbody>
  </table>
  <!-- content from Wikidata -->
</div>
{% endif %}


{% endblock %}