{% extends "layout.html" %}
{% from 'observation_table.html' import create_observation_table, create_form, create_next_button %}

{% block title %}
Project observations
{% endblock %}


{% block main %}
{% if not project_info %}
<h4>Enter the iNaturalist project name below:</h4>

{{ create_form(form) }}

<a href="/projectlist/wikiproject-biodiversity">See an example</a>
{% endif %}
{% if project_info %}
<div class="row">
  <div class="col-md container">
    <h3> Taxa observed in the scope of the project "{{project_name}}"</h3>
    {{ create_next_button("projectlist", project_name, search_config)}}
    {{ create_observation_table(project_info, project_name) }}

  </div>
</div>
{% endif %}

<script>
  $(document).ready(function () {

    var myStringArray = ["#observations"];
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      $(myStringArray[i]).DataTable({
        pageLength: 50,
        aaSorting: []
      });
    }
  });
</script>

{% endblock %}