{% extends "layout.html" %}
{% from 'observation_table.html' import create_observation_table, create_form %}

{% block title %}
Project observations
{% endblock %}


{% block main %}
{% if not project_info %}
<h4>Enter the iNaturalist project_name below:</h4>

{{ create_form(form) }}

<a href="/projectlist/wikiproject-biodiversity">See an example</a>
{% endif %}
{% if project_info %}
<div class="row">
  <div class="col-md container">
    <h3> Taxa observed in the scope of the project "{{project_name}}"</h3>
    {% set next_page = search_config.page + 1 %}
    <button class="btn btn-outline-primary pager float-right">
      <a
        href="/projectlist/{{project_name}}?limit={{search_config.limit}}&page={{next_page}}&quality_grade={{search_config.quality_grade}}&license={{search_config.license}}">Next
        {{limit}} </a>
    </button>
    <p>Parsing up to {{search_config.limit}} most recent uploads (page {{search_config.page}}). </p>

    {{ create_observation_table(project_info, project_name) }}

  </div>
</div>
{% endif %}

<script>
  $(document).ready(function () {

    var myStringArray = ["#observations"];
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      $(myStringArray[i]).DataTable({
        pageLength: 50,
        aaSorting: []
      });
    }
  });
</script>

{% endblock %}