{% extends "layout.html" %}

{% block title %}
Project observations
{% endblock %}

{% block main %}

{% if not project_info %}
<h4>Enter the iNaturalist project_name below:</h4>

<form method="POST">
  <div>
    {{ form.csrf_token }}
    {{ form.project_name.label }} {{ form.project_name(size=20) }}
  </div>
  <div>
    {{ form.csrf_token }}
    {{ form.limit.label }} {{ form.limit(size=20) }}
  </div>
  <div>
    {{ form.quality.label }} {{ form.quality }}
  </div>
  <div>
    {{ form.license.label }} {{ form.license }}
  </div>
  <input type="submit" value="Go">
</form>


<a href="/projectlist/wikiproject-biodiversity">See an example</a>
{% endif %}
{% if project_info %}
<div class="row">
  <div class="col-md container">
    <ul>
    </ul>
    <h3> Taxa observed in the scope of the project "{{project_name}}"</h3>
    {% set next_page = page + 1 %}
    <button class="btn btn-outline-primary pager float-right">
      <a
        href="/projectlist/{{project_name}}?limit={{limit}}&page={{next_page}}&quality_grade={{quality_grade}}&license={{license}}">Next
        {{limit}} </a>
    </button>
    <p>Parsing up to {{limit}} most recent uploads (page {{page}}). </p>
    <table id="project_observations" class="table table-striped">
      <thead>
        <tr>
          <th>Characteristic group</th>
          <th>Taxon Name</th>
          <th>Number of observations on iNat</th>
          <th>Observations by {{project_name}} </th>
          <th>Wikidata ID</th>
          <th>Wikipages missing</th>
        </tr>
      </thead>
      <tbody>
        {% for taxon_id, taxon_info in project_info.items()%}
        <tr>
          <td>{{taxon_info.iconic_name}}</td>
          <td>{{taxon_info.name}} </td>
          <td>{{taxon_info.number_of_observations}} </td>
          <td>
            {% for obs in taxon_info.observations %}
            {{obs.id}} [<a href="https://www.inaturalist.org/observations/{{obs.id}}" target="_blank">iNat</a>, <a
              href="/parse/{{obs.id}}" target="_blank">upload</a>] ({{obs.quality_grade}}; {{obs.license}}),
            {% endfor%}
          </td>
          <td>
            <a href="http://www.wikidata.org/entity/{{taxon_info.wikidata_id}}"
              target="_blank">{{taxon_info.wikidata_id}}</a>
          </td>
          <td>
            {% for wiki_page in taxon_info.wikipages_missing %}
            {% if 'pt' == wiki_page %}
            {{wiki_page}} (<a href="/ptwikistub/{{taxon_info.wikidata_id}}" target="_blank">create stub</a>),
            {% else %}
            {{wiki_page}}
            {% endif %}
            {{ ", " if not loop.last else "" }}

            {% endfor%}
          </td>

        </tr>
        {% endfor %}
        </ul>
        <!-- content from Wikidata -->
      </tbody>
    </table>

  </div>
</div>
{% endif %}

<script>
  $(document).ready(function () {

    var myStringArray = ["#project_observations"];
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      $(myStringArray[i]).DataTable({
        pageLength: 50,
        aaSorting: []
      });
    }
  });
</script>

{% endblock %}