{% extends "layout.html" %}
{% from 'observation_table.html' import create_observation_table, create_form, create_next_button %}

{% block title %}
User observations
{% endblock %}

{% block main %}

{% if not user_info %}
<h4>Enter the iNaturalist username below:</h4>
{{create_form(form)}}
<a href="/userlist/ramarese">See an example</a>
{% endif %}

{% if user_info %}
<div class="row">
  <div class="col-md container">
    <h3>Taxa seen by {{username}}</h3>
    {{ create_next_button("userlist", username, search_config)}}
    {{ create_observation_table(user_info, username) }}
    </br>
  </div>
</div>
{% endif %}

<script>
  $(document).ready(function () {
    var myStringArray = ["#observations"];
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      $(myStringArray[i]).DataTable({
        pageLength: 50,
        aaSorting: []
      });
    }
  });
</script>

{% endblock %}