{% extends "layout.html" %}

{% block title %}
User observations
{% endblock %}

{% block main %}

{% if not user_info %}
<h4>Enter the username below:</h4>
<form method="POST">
  <input name="username">
  <input type="submit">
</form>
<a href="/userlist/ramarese">See an example</a>
{% endif %}
{% if user_info %}
<div class="row">
  <div class="col-md container">
    <ul>
    </ul>
    <h3>Taxa seen by {{username}}</h3>
    <table id="user_observations" class="table table-striped">
      <thead>
        <tr>
          <th>Characteristic group</th>
          <th>Taxon Name</th>
          <th>Taxon ID</th>
          <th>Number of observations on iNat</th>
          <th>Observations by {{username}} </th>
          <th>Wikidata ID (if missing image)</th>
          <th>Wikipages missing</th>
        </tr>
      </thead>
      <tbody>
        {% for taxon_id, taxon_info in user_info.items()%}
        <tr>
          <td>{{taxon_info.iconic_name}}</td>
          <td>{{taxon_info.name}} </td>
          <td>{{taxon_id}} </td>
          <td>{{taxon_info.number_of_observations}} </td>
          <td>
            {% for obs in taxon_info.observations %}
            <a href="/parse/{{obs.id}}" target="_blank">{{obs.id}}</a> ({{obs.quality_grade}}; {{obs.license}}),
            {% endfor%}
          </td>
          <td>
            <a href="http://www.wikidata.org/entity/{{taxon_info.wikidata_id}}"
              target="_blank">{{taxon_info.wikidata_id}}</a>
          </td>
          <td>
            {% for wiki_page in taxon_info.wikipages_missing %}
            {% if 'pt' == wiki_page %}
            {{wiki_page}} (<a href="/ptwikistub/{{taxon_info.wikidata_id}}" target="_blank">create stub</a>),
            {% else %}
            {{wiki_page}}
            {% endif %}
            {{ ", " if not loop.last else "" }}

            {% endfor%}
          </td>

        </tr>
        {% endfor %}
        </ul>
        <!-- content from Wikidata -->
      </tbody>
    </table>

  </div>
</div>
{% endif %}

<script>
  $(document).ready(function () {

    var myStringArray = ["#user_observations"];
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      $(myStringArray[i]).DataTable({
        pageLength: 50,
        aaSorting: []
      });
    }
  });
</script>

{% endblock %}