{% extends "layout.html" %}
{% from 'observation_table.html' import create_observation_table, create_form %}

{% block title %}
User observations
{% endblock %}

{% block main %}

{% if not user_info %}
<h4>Enter the iNaturalist username below:</h4>

{{create_form(form)}}

<a href="/userlist/ramarese">See an example</a>
{% endif %}
{% if user_info %}
<div class="row">
  <div class="col-md container">
    <h3>Taxa seen by {{username}}</h3>
    {% set next_page = search_config.page + 1 %}
    <button class="btn btn-outline-primary pager float-right">
      <a
        href="/userlist/{{username}}?limit={{search_config.limit}}&page={{next_page}}&quality_grade={{search_config.quality_grade}}&license={{search_config.license}}">Next
        {{limit}} </a>
    </button>
    <p>Parsing up to {{search_config.limit}} most recent uploads (page {{search_config.page}}). </p>
    {{ create_observation_table(user_info, username) }}
    </br>


  </div>
</div>
{% endif %}

<script>
  $(document).ready(function () {

    var myStringArray = ["#observations"];
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      $(myStringArray[i]).DataTable({
        pageLength: 50,
        aaSorting: []
      });
    }
  });
</script>

{% endblock %}